<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
    	<typeAlias type="hmd.domain.Crane" alias="crane"/>
    	<typeAlias type="hmd.domain.CraneJip" alias="craneJip"/>
    	<typeAlias type="hmd.domain.CraneTower" alias="craneTower"/>
    	
        <typeAlias type="hmd.domain.Layer" alias="layer"/>
        <typeAlias type="hmd.domain.UserGroup" alias="userGroup"/>
        <typeAlias type="hmd.domain.UserGroupRole" alias="userGroupRole"/>
        <typeAlias type="hmd.domain.UserGroupMenu" alias="userGroupMenu"/>
        <typeAlias type="hmd.domain.UserPolicy" alias="userPolicy"/>
        <typeAlias type="hmd.domain.BlockPolicy" alias="blockPolicy"/>
        
    </typeAliases>

</configuration>
